body {
  font-family: 'Open Sans', sans-serif;
}

a, h1, h2
{
	color: #000000;
}
a
{
  text-decoration: underline;
}
h1>a
{
  text-decoration: none;
}
/*h1.head
{
    font-weight: normal;
}

.header
{
	margin: 0;
	padding: 0.3em;
	background: #fafafa;
	border-bottom: 1px solid #000000;
}*/