<!doctype html>
<html ng-app='website'>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Stephen Zweibel, Librarian">
<meta name="author" content="SZ">
<title>Stephen Zweibel</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap-tooltip.js"></script>
<script type="text/javascript">
                      $(document).ready(function () {
                          $("[rel=tooltip]").tooltip();
                          $("[rel=tooltip1]").tooltip({placement:'right'});
                          $("[rel=tooltip2]").tooltip({placement:'left'});
                          $("[rel=tooltip3]").tooltip({placement:'bottom'});

                       });
</script>
</head>
<body>
<div class="container-fluid">
    <div class='row-fluid'>
    <div class='span3'>
        <ul class="nav nav-tabs nav-stacked">
            <li>
                <h1>
                    <a href="/">Stephen Zweibel</a>
                </h1>
            </li>
            <li class=''>
                <a href="/projects.html">Papers, Presentations, & Projects</a>
            </li>
            <li class=''>
                <a href="/about.html">C.V.</a>
            </li>
        </ul>
        <a href="#" class="thumbnail">
          <img data-src="images/me.jpg" alt="...">
        </a>
    <div class="row">
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
        </div>
    <div class='span9'>
        {{content}}
    </div>
    </div>
</div>
</body>
</html>




